<div class="container">
	<div class="row header">
		<div class="col-lg-2 logo_left">
			<%= image_tag "ux.png" %>
		</div>
		<div class="col-lg-7 title">
			<h1>THOUGHT OF THE DAY</h1>
		</div>
		<div class="col-lg-3 logo_right">
			<%= image_tag "uie.png" %>
		</div>
	</div>
	<div class="row content">
		<div class="row">
			<div class="col-lg-2 social">
				<div><div><%= image_tag "facebook.png" %></div></div>
				<div><div><%= image_tag "twitter.png" %></div></div>
				<div><div><%= image_tag "linkedin.png" %></div></div>
			</div>
			<div class="col-lg-7 text">
				<p>Wait in the car, Donny. Dolor sit amet, consectetur adipiscing elit praesent ac magna justo. Strong men also cry… Strong men also cry. Pellentesque ac lectus quis elit blandit fringilla a ut turpis praesent felis ligula. Do you have any kalhua? Malesuada suscipit malesuada non, ultrices non urna. I don't see any connection to Vietnam, Walter. Sed orci ipsum, placerat. Your "revolution" is over, Mr. Lebowski! Condolences! The bums lost! Id condimentum rutrum, rhoncus ac lorem.</p>

				<p>Nihilists! Jesus. Aliquam placerat posuere neque, at dignissim magna. JUST BECAUSE WE'RE BEREAVED DOESN'T MEAN WE'RE SAPS! Ullamcorper in aliquam sagittis massa ac tortor ultrices faucibus curabitur. This Chinaman is not the issue! Eu mi sapien, ut ultricies ipsum morbi eget risus. I'm not Mr. Lebowski; you're Mr. Lebowski. I'm the Dude. Nulla nullam vel nisi enim, vel auctor ante morbi id urna vel felis lacinia.</p>
			</div>
			<div class="col-lg-3 form">
				<h2>thought</h2>
				<h3>of the day</h3>
				<h4>straight to your inbox.</h4>
				<p><input type="text" name="name" placeholder="Name"></p>
				<p><input type="text" name="email" placeholder="E-Mail"></p>
				<p><button name="subscribe">SUBSCRIBE</button></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 excerpt">
				<p>an excerpt from</p>
			</div>
			<div class="col-lg-4 quote">
				<p>"Getting Clients &amp; Stakeholders Onboard with a Bias for Marketing"</p>
			</div>
			<div class="col-lg-2 author">
				<p>by jared spool</p>
				<p>March 11th, 2014</p>
			</div>
		</div>	
	</div>
	<div class="row footer">
		<nav class="navbar navbar-default">
			<div class="collapse navbar-collapse">	
				<ul class="nav navbar-nav">
					<li><a href="#">home</a></li>
					<li><a href="#">uxtotd</a></li>
					<li><a href="#">all you can learn</a></li>
					<li><a href="#">virtual seminars</a></li>
					<li><a href="#">events</a></li>
					<li><a href="#">jared live</a></li>
					<li><a href="#">articles</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">podcasts</a></li>
					<li><a href="#">about us</a></li>
				</ul>
			</div>
		</nav>
	</div>

</div>
